In [14]:
age = 20
typeOfAge = type(age)
print(typeOfAge)

<class 'int'>

In [15]:
pi=3.14
typeOfPi=type(pi)
print(typeOfPi)

<class 'float'>

In [16]:
message="hello python"
typeOfMessage = type(message)
print(typeOfMessage)

<class 'str'>

In [19]:
ok=True
typeOfOk = type(ok)
print(typeOfOk)

<class 'bool'>

In [21]:
a=100
b=3.14
c=True

print("Life","is","too","short",a,b,c)

Life is too short 100 3.14 True

In [24]:
message = input("메세지를 입력하세요!")
print(message)

안녕하세요 데이터 타입이 궁금해요!

In [26]:
t=type(message)
print(t)

<class 'str'>

In [29]:
#문자열을 더하면 연결하게 된다
a="안녕하세요 "
b="저는 햄스터를 키우고 있어요"
print(a+b)

안녕하세요 저는 햄스터를 키우고 있어요

In [32]:
#input 으로 입력받은 항목은 모두 str 값으로 인식
money=input("금액을 입력해주세요")
change=input("잔액을 입력해주세요")
print(money+change)

500001000

In [34]:
#input 으로 입력받은 항목은 모두 str 값으로 인식, 따라서 내가 원하는 형태로 형변환을 해줘야 한다
money=int(input("금액을 입력해주세요"))
change=int(input("잔액을 입력해주세요"))
print(money+change)

501000

In [37]:
#문자형 데이터는 float 으로 살수로 만들어 줄 수 있음
a="152.36"
b="351.35"

a2=float(a)
b2=float(b)

print(a2+b2)

503.71000000000004

In [42]:
#사용자가 입력한 값에 대해서 정수 혹은 실수로 변환해줄 수 있음


math=input("수학 성적을 입력하세요")
science = input("과학 성적을 입력하세요")
print(math+science)

9080

In [49]:
#사용자가 입력한 값에 대해서 정수 혹은 실수로 변환해줄 수 있음

math=input("수학 성적을 입력하세요")
science = input("과학 성적을 입력하세요")

math_score=int(math)
science_score=int(science)

print(math_score+science_score)

170

In [61]:
budget=input("이번달 총 예산을 입력해주세요")
int_budget=int(budget)

print(type(budget))
print(type(int_budget))

<class 'str'>
<class 'int'>

In [58]:
def avg(a,b):
    return round((a+b)/2,2)

left_sight=float(input("왼쪽 시력을 입력해주세요"))
right_sight=float(input('오른쪽 시력을 입력해주세요'))

print("왼쪽시력은" ,left_sight ,'이고', "오른쪽 시력은" , right_sight,'이며','평균 시력은',avg(right_sight,left_sight))

왼쪽시력은 1.2 이고 오른쪽 시력은 1.3 이며 평균 시력은 1.2

In [60]:
#제곱근 구하기
a=pow(2,8)
print(a)


#절대값 구하기
a=abs(100)
print(a)


b=abs(-100)
print(b)

c=float(input("소수점 두자리 이상 있는 실수를 입력해주세요"))
print('입력한 실수는',c,'이고,',"정수로 만들면",round(c),"둘쨰 자리에서 반올림하면",round(c,2),'입니다')

256
100
100
입력한 실수는 5.469847 이고, 정수로 만들면 5 둘쨰 자리에서 반올림하면 5.47 입니다

In [65]:
first_semester = float(input("첫 학기의 학점을 입력해주세요"))
second_semester=float(input("두번쨰 학기의 학점을 입력해주세요"))


def avg(a,b):
    return round(a+b/2,2)

print("첫 학기와 두번째 학기 학점은 각각", first_semester,second_semester ,"이고, 평균 학점은" , avg(first_semester,second_semester), '입니다')

첫 학기와 두번째 학기 학점은 각각 90.0 80.0 이고, 평균 학점은 130.0 입니다

In [74]:
def f(x):
    y=x+1
    print(y)

print(f(2))

3
None

In [75]:
def f(x):
    y=x+1
    print(y)
    return y

print(f(2))
    
    b
``

3
3

In [80]:
def hello(x,y):
    z=x+y
    print(z)
    return z


hello(2,1)

3

3

In [84]:
def sum1(x,y,z=0):
    answer = x+y+z
    print(answer)

sum1(1,2,3)
sum1(10,20)

6
30

In [89]:
def total(a,b,c,d) :
    z=a+b+c+d
    print(z)


total(4,6,8,9) 
total(d=9,c=8,b=6,a=4)

27
27

In [90]:
def plus(x,y):
    z=x+y
    return z

#return z 가 있기 떄문에 plus(10,20)  값이 10+20을 한 z 값으로 대체된다
a=plus(10,20)
print(a)


print(plus(100,200))


b=plus(5,7) + 100
print(b)

30
300
112

In [94]:
def foo(x,y):
    return 0
    z=x+y
    print(z)

foo(1,2)

0

In [97]:
def foo(x,y):
    z=x+y
    print(z)
    return z

foo(1,2)

3

3

In [102]:
a=100
b=200

def foo():
    k=a+b
    print(k)

print(k)

NameError: name 'k' is not defined

In [104]:
def solution(num1,num2):
    answer=num1+num2
    return answer
    
print(solution(2,3))
print(solution(100,2))

5
102

In [107]:
def solution(num1,num2):
    answer=num1-num2
    return answer

In [111]:
def solution(num1,num2):
    answer=num1-num2
    return answer 

print(solution(2,3))

-1

In [116]:
def solution(num1,num2):
    answer=round((num1/num2)*1000)
    return answer 

print(solution(7,3))

2333

In [118]:
a=100
if a >= 100:
    print("a는 100보다 크기가 같습니다")
    print("그러므로 이 부분은 출력됩니다")

a는 100보다 크거가 같습니다
그러므로 이 부분은 출력됩니다

In [120]:
print("시험시작")
score=int((input("시험 점수를 입력하세요")))
if score >=60:
    print("합격입니다")
print("시험끝")

시험시작
합격입니다
시험끝

In [127]:
money=100
if money:
    print("택시를 타서")
print("집에 가요")

택시를 타서
집에 가요

In [20]:
name = ''
if name:
    print(name)
print("프로그래밍")

프로그래밍

In [137]:
myage = int(input("나이를 입력하세요"))

if myage == 20:
    print("20살 입니다")

if myage != 20 :
    print("20살이 아닙니다")

if myage>19:
    print("성인 입니다")

if myage <= 19:
    print("청소년입니다")

20살이 아닙니다
성인 입니다

In [3]:
point=int(input("점수를 입력하세요"))

if point > 70 and point < 80:
    print("c학점 입니다")

if point <= 70 or point > 80:
    print("c학점이 아닙니다")

c학점 입니다

In [10]:
isKorean=False


if isKorean == True:
    print("한국사람입니다")

if isKorean == False:
    print("한국사람이 아닙니다")


if isKorean != True:
    print("한국사람이 아닙니다")


if isKorean !=False:
    print("한국사람입니다")

if isKorean:
    print("한국사람입니다")

if not isKorean:
    print("한국사람이 아닙니다")

한국사람이 아닙니다
한국사람이 아닙니다
한국사람이 아닙니다

In [15]:
print("시험시작")

score = int(input("점수를 입력하세요"))

if score >= 60:
    print("합격입니다")

else:
    print("불합격입니다")
print("시험 끝")

시험시작
합격입니다
시험 끝

In [17]:
answer = input("한국인입니까? (Y/N)")

if answer == "Y":
    isKorean = True

else:
    isKorean=False


if isKorean:
    print("한국 사람 입니다")

else:
    print("한국 사람이 아닙니다")


if not isKorean:
    print("한국 사람이 아닙니다")

else:
    print("한국 사람 입니다")

한국 사람 입니다
한국 사람 입니다

In [21]:
print ("시험 시작")


point=int(input("점수를 입력하세요"))

if point > 90:
    print("A학점")

elif point > 80:
    print("B학점")

elif point > 70:
    print("C학점")

else:
    print("F학점")
print("시험 끝")

시험 시작
F학점
시험 끝

In [36]:
def solution(n,k):
    service=n//10
    answer = 12000*n+k*2000-service*2000
    return answer


print(solution(10,2))

(122000, 1)

In [ ]:
a=28
ant_5=a//5
ant_6=a%5

print(ant_5)
print(ant_6)

5
3

In [ ]:
x=1  #초기식
while x <= 10:   #조건식
    print("x=",x)
    x +=1   #증감식
print("x의 최종값" ,x)

x= 1
x= 2
x= 3
x= 4
x= 5
x= 6
x= 7
x= 8
x= 9
x= 10
x의 최종값 11

In [43]:
x=int(input("구구단을 구해보자"))

y=1
while y<10:
    z=x*y
    print(x,"X",y,'=',z)
    y+=1

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

In [45]:
#1~10 까지의총 합을 구해보자
x=1 #초기식
sum=0 #총 합을 누적해서 저장할 변수
while x <= 10:   #조건식 > x 가 10보다 작거나 같은 동안 반복 수행
    sum+=x
    print("x=",x,'-> sum=',sum)
    x+=1   # 증감식 , 조건에 사용되는 값을 변경합니다

x= 1 -> sum= 1
x= 2 -> sum= 3
x= 3 -> sum= 6
x= 4 -> sum= 10
x= 5 -> sum= 15
x= 6 -> sum= 21
x= 7 -> sum= 28
x= 8 -> sum= 36
x= 9 -> sum= 45
x= 10 -> sum= 55

In [49]:
x=1
while x<=10:
    print("x=",x)
    x+=1

x= 1
x= 2
x= 3
x= 4
x= 5
x= 6
x= 7
x= 8
x= 9
x= 10

In [53]:
f=int(input('구구단을 만들 숫자를 입력해주세요!'))

y=1
while y<10:
    z=f*y
    print(f,'x',y,'=',z)
    y+=1

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

In [56]:
#1부터 10까지의 총 합을 구해보자
x=1 #초기식
sum=0 #총합을 누적해서 저장할 변수
while x<=10:
    sum+=x
    print('x=',x,'->sum =', sum)
    x+=1

x= 1 ->sum = 1
x= 2 ->sum = 3
x= 3 ->sum = 6
x= 4 ->sum = 10
x= 5 ->sum = 15
x= 6 ->sum = 21
x= 7 ->sum = 28
x= 8 ->sum = 36
x= 9 ->sum = 45
x= 10 ->sum = 55

In [59]:
for x in range(1,11):
    print('x=',x)


print('x의 최종값=',x)

x= 1
x= 2
x= 3
x= 4
x= 5
x= 6
x= 7
x= 8
x= 9
x= 10
x의 최종값= 10

In [63]:
x=int(input('숫자를 입력하세요'))
for y in range(1,10):
    z=x*y
    print(x,'x',y,'=',z)

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

In [ ]:
sum=0

for x in range(1,11):
    sum+= x
    print('x=',x,'->sum',sum)

x= 1 ->sum 1
x= 2 ->sum 3
x= 3 ->sum 6
x= 4 ->sum 10
x= 5 ->sum 15
x= 6 ->sum 21
x= 7 ->sum 28
x= 8 ->sum 36
x= 9 ->sum 45
x= 10 ->sum 55

In [69]:
for a in range (0,50,10):
    print(a)

0
10
20
30
40

In [71]:
for a in range(10,0,-2):
    print(a)

10
8
6
4
2

In [73]:
#1부터 10까지의 총 합을 구해보자
x=1
sum=0

while x<=10:
    sum+=x
    print('x=',x,'-> sum =',sum)
    x+=1

x= 1 -> sum = 1
x= 2 -> sum = 3
x= 3 -> sum = 6
x= 4 -> sum = 10
x= 5 -> sum = 15
x= 6 -> sum = 21
x= 7 -> sum = 28
x= 8 -> sum = 36
x= 9 -> sum = 45
x= 10 -> sum = 55

In [77]:
#for 문을 활용해서 1부터 10 까지 추출하기
for x in range (1,11):
    print('x=',x)



#while 문을 활용해서 1부터 10까지 추출하기
x=1
while x <=10 :
    print('x=',x)
    x+=1     #증감식 까먹지 않고 꼭 써주기

x= 1
x= 2
x= 3
x= 4
x= 5
x= 6
x= 7
x= 8
x= 9
x= 10
x= 1
x= 2
x= 3
x= 4
x= 5
x= 6
x= 7
x= 8
x= 9
x= 10

In [84]:
#for 문을 활용해서 구구단 출력하기

y=int(input("구구단에 쓸 숫자를 입력해주세요!"))
for f in range (1,10):
    z=y*f
    print(y,"x",f,'=',z)


print("========")
#while 문을 이용해서 구구단 출력하기

u=1
while u <=10:
    z=y*u
    u+=1
    print(y,'x',u,'=',z)

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
========
4 x 2 = 4
4 x 3 = 8
4 x 4 = 12
4 x 5 = 16
4 x 6 = 20
4 x 7 = 24
4 x 8 = 28
4 x 9 = 32
4 x 10 = 36
4 x 11 = 40

In [86]:
sum=0
for x in range(1,11):
    sum+=x
    print('x=',x,'-> sum',sum)

x= 1 -> sum 1
x= 2 -> sum 3
x= 3 -> sum 6
x= 4 -> sum 10
x= 5 -> sum 15
x= 6 -> sum 21
x= 7 -> sum 28
x= 8 -> sum 36
x= 9 -> sum 45
x= 10 -> sum 55

In [89]:
def solution(angle):
    if angle < 90 :
        print("예각")
    elif angle ==90:
        print("직각")
    elif angle < 180:
        print("둔각")
    elif angle ==180:
        print("평각")      
    return answer

In [96]:
def solution(angle):
    if  angle > 0 and angle < 90  :
         print(1)
    elif angle == 90:
        print(2)
    elif angle > 90 and angle < 180:
        print(3)
    elif angle ==180:     
        print(4)      
    return angle


print(solution(90))
print(solution(60))
print(solution(180))

2
90
1
60
4
180

In [98]:
def solution(num1,num2):
    if num1 == num2:
        return 1
    else -1

SyntaxError: expected ':' (744005510.py, line 4)

In [99]:
def solution(price):
    if price >= 500000:
        return int(price*0.8)
    elif price >= 300000:
        return int(price*0.9)
    elif price >= 100000:
        return int(price*0.95)

In [ ]:
import math

n=10
math.lcm(n,6)

30

In [ ]:
#리스트에 있는 평균값과 총합 값을 구해보자

a=[[80,20,64,74],[26,37,45,89]]

for score in a:
  print(score[1])