In [ ]:
#점수를 받아서 패스와 불합격을 나누고, 패스일 때의 학점을 세부적으로 분류해보자


point=int(input("점수를 입력해주세요!"))

if point > 80 :
    print("합격입니다")
    if point > 95 :
        print("학점은 A 입니다")
    elif point>85:
        print("학점은 B 입니다")
else:
    print("불합격 입니다")

In [ ]:
#짝수와 홀수의 합을 구해보자

number=int((input("숫자를 입력해보세요")))

x=0
y=0


for i in range(1,number+1):
    if i%2 ==0:
        print(i,"=짝수")
        x+=i
    else:
        print(i,"=홀수")
        y+=i


print("짝수들의 합",x)

print("홀수들의 합",y)

In [ ]:


chicken = 1081
coupon = chicken

service_chicken = int(coupon/10)
duoyu_coupon
coupon=coupon+service_chicken
#service_chicken += (coupon/10)

    

print("service_chicken",service_chicken)
print("coupon",coupon)

In [ ]:
for i in range (0,5):
    star=""

    for j in range(0,i+1):
        star += "*"

    print(star)

In [ ]:
for i in range (0,5):
    star=""

    for j in range(0,i+1):
        star = "*****"

    print(star)

In [ ]:
x=3
y=5

for i in range(1,101):
    if i% x==0 and i%y ==0:
        print(i)

In [ ]:
#5명의 학생에 대한 성적 나열
grade = [98.82,73,64,100]
print(grade)

#각 학생의 이름에 대한 나열
names=['철수','영희','나영','민식','호영']

#서로 다른 데이터 타입들 함께 사용 가능
student=['철수',167,72,"남자",True]
print(student)

In [ ]:
buxi =[63,74,24]

#리스트로부터 원소 추출해내기
print(buxi[1])
print(100+buxi[0])

In [ ]:
#리스트 안에 있는 값은 새로 정의해서 변경할 수도 있음

mydata =[100,200,300]
print(mydata)

mydata[0] = 150
mydata[1]=mydata[1]-20
mydata[2]+=300


print(mydata)

In [ ]:
#리스트의 덧셈
#리스트를 더하면 내부 항목들이 이어져서 붙여지는 개념
a=[1,2,3]
b=[4,5]
c=a+b
print(c)



#리스트의 곱셈
d=[10,20,30]
e=d*3
print(e)

In [ ]:

bohee=[160,35,60]
gyehong=[163,40,70]
print(bohee)
print(gyehong)


print(bohee+gyehong)
print(bohee*3)

In [ ]:
student1=['나래',98]
student2=['요니',80]
student3=['예지',40]


student_group = [student1,student2,student3]
print(student_group)

student_group2=[
        ['나래',98],
        ['요니',99],
        ['예지',99]
]

print(student_group2)

In [ ]:
print(student_group[1])
print(student_group[1][1])

In [ ]:
friends =[
       ['요니',160,43],
       ['뿌시',162,60], 
       ['나라',164,50],
]


print('이름:',friends[0][0],'키:',friends[0][1],'몸무게:',friends[0][2])
print('이름:',friends[1][0],'키:',friends[1][1],'몸무게:',friends[1][2])
print('이름:',friends[2][0],'키:',friends[2][1],'몸무게:',friends[2][2])

In [ ]:
score=[60,70,80,90,100]

print(score[:4])

In [ ]:
foo=[1,2,3,4,5]

foo[2:3] =[20,30,40]
print(foo)

In [ ]:
a=100
b=a
print(a)
print(b)

In [ ]:
b=200
print(a)
print(b)

In [ ]:
foo=[1,2,3]
bar=foo
print(foo)
print(bar)

In [ ]:
bar[1]=20
print(foo)
print(bar)

In [ ]:
#슬라이싱을 활용한 방법
hello =[100,200,300]
cp2=hello[:]

#복사본을 변경하더라도 원본에 영향이 없음
cp2[1] =12345
print(hello)
print(cp2)

In [ ]:
#리스트 객체의 함수를 사용하는 방법
world =["hello","python","world"]
cp3=world.copy()


#복사본을 변경해도 원본에는 영향이 없음
cp3[0]="nice"
print(world)
print(cp3)

In [ ]:
def divmod(a, b):
    q = a // b  # 몫
    r = a % b   # 나머지
    return q, r # 튜플 형태로 반환됨

x, y = divmod(7, 3)
print(x)  # 2
print(y)  # 1

In [ ]:
#짝수와 홀수의 합을 구해보자


#내가 구해야하는 것 : 내가 입력한 숫자에 대해서 하나씩 스캔하면서 짞수는 짝수끼리, 홀수는 홀수끼리 더해보자


number = int(input("내가 합을 구하려는 숫자"))

x=0
y=0

for i in range (0,number+1):
    if i%2 ==0:
        print("짝수-->",i)
        x+=i
    else:
        print("홀수-->",i)
        y+=i


print("짝수의 합은" , x)
print("홀수의 합은",y)

In [ ]:
# 이번에는 0 ---- ,1 ---- , 2--- 를 반복해서 출력해보자


for i in range (0,5):
    print(i)

    if(i+1<5):
        print("======")

In [ ]:
#3과 5의 공배수를 구해보자
#우선 3과 5를 정의해주자

x=3
y=5

for i in range (0,101):
    if i%x==0 and i%y==0:
        print(i)

In [ ]:
#구구단을 외워보자
#for 안에 for 가 있어야 하는 구조

#내가 필요한 것 1) 곱할 숫자 2) 1-9 까지 3) 곱해진 결과값 4) 세가지에 대한 출력값


for i in range(1,10):

    for y in range(1,10):
        z=i*y
        print(i,"x",y,'=',z)

    if (1+i < 10):
        print('====')

In [ ]:
#별 찍기 문제
for i in range(0,5):
    star =""

    for j in range(0,i+1):
        star += "*"

    
    print(star)

In [ ]:
#리스트에 있는 평균값과 총합 값을 구해보자

a=[[80,20,64,74],[26,37,45,89]]

for score in a:
  print(score[1])

In [ ]:
a=254
print(a)